.goodsBg{
      background: linear-gradient(276deg, #e67fd057, #60b36063);
}
.galleryBg{
      background: linear-gradient(276deg, #e67fd04f, #b381605d);
}
.testimonialBg{
      background: linear-gradient(276deg, #60b36062, #e67fd049);
}
.deliverBg{
      background: linear-gradient(276deg, #b3816050, #60b36049);
}
.contactBg{
      background: linear-gradient(276deg, #60b3604d, #e67fd048)
}
.aboutBg{
      background: linear-gradient(276deg, #e67fd04b, #60b36059);
}
