.goodsBg{
      background: linear-gradient(276deg, rgba(127, 127, 230, 0.493), rgba(96, 179, 96, 0.596));
}
.galleryBg{
      background: linear-gradient(276deg, rgba(230, 127, 208, 0.493), rgba(179, 129, 96, 0.596));
}
.testimonialBg{
      background: linear-gradient(276deg, rgba(128, 37, 108, 0.493), rgba(43, 105, 121, 0.596));
}
.deliverBg{
      background: linear-gradient(276deg, rgba(58, 138, 204, 0.493), rgba(204, 146, 37, 0.596));
}
